
<div class="box">
<div id="schedulerToolBar" class="rowfl header" style="padding: 10px">
  <button id="schedulerPrevDate" class="btn btn-info">jour -</button>
  <div style="display: inline-block; min-width: 250px; text-align: center">
      <label id="schedulerDate"></label>
  </div>
  <button id="schedulerNextDate" class="btn btn-info">jour +</button>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <button id="schedulerRotate" class="btn btn-info">rotate</button>
</div>
<div class="rowfl content">
<div id="mScheduler" style="width: 100%;" class="grid-theme">
</div>
</div>
<div  class="rowfl footer">
    <p><b>En voilà un zouli calendrier de patou sur Angular qu'il a fait fabrice ...</b></p>
  </div>
</div>